<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" />
    <title><%= @title  %></title>
    <meta
      name="description"
      content="<%= @full_name %> quit nicotine. this is helping him along the way."
    />
    <meta itemprop="name" content="<%= @name %> Quits" />
    <meta
      itemprop="description"
      content="<%= @full_name %> quit nicotine. this is helping him along the way."
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= @name %> Quits" />
    <meta
      name="twitter:description"
      content="<%= @full_name %> quit nicotine. this is helping him along the way."
    />
    <meta name="twitter:site" content="<%= @twitter %>" />
    <meta name="twitter:creator" content="<%= @twitter %>" />
    <meta name="og:title" content="<%= @name %> Quits" />
    <meta
      name="og:description"
      content="<%= @full_name %> quit nicotine. this is helping him along the way."
    />
    <meta name="og:url" content="https://jakequits.com" />
    <meta name="og:site_name" content="<%= @name %> Quits" />
    <meta name="og:type" content="website" />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div id="app">
      <header class="container">
        <h1><%= @name %> Quits.</h1>
        <p>
          <a href="https://twitter.com/jake_albaugh" target="blank"
            ><%= @full_name %></a
          >
          quit nicotine. this is helping him along the way.
        </p>
      </header>
      <div class="container flex">
        <div class="progress" fraction="seconds">
          <div class="left"></div>
          <div class="right">
            <h2></h2>
            <h3>Seconds</h3>
          </div>
        </div>
        <div class="progress" fraction="minutes">
          <div class="left"></div>
          <div class="right">
            <h2></h2>
            <h3>Minutes</h3>
          </div>
        </div>
        <div class="progress" fraction="hours">
          <div class="left"></div>
          <div class="right">
            <h2></h2>
            <h3>Hours</h3>
          </div>
        </div>
        <div class="progress" fraction="days">
          <div class="left"></div>
          <div class="right">
            <h2></h2>
            <h3>Days</h3>
          </div>
        </div>
      </div>
      <div class="container flex">
        <div class="progress" fraction="weeks">
          <div class="left"></div>
          <div class="right">
            <h2></h2>
            <h3>Weeks</h3>
          </div>
        </div>
        <div class="progress" fraction="months">
          <div class="left"></div>
          <div class="right">
            <h2></h2>
            <h3>Months</h3>
          </div>
        </div>
        <div class="progress" fraction="years">
          <div class="left"></div>
          <div class="right">
            <h2></h2>
            <h3>Years</h3>
          </div>
        </div>
        <div class="progress dark">
          <div class="right">
            <h2>
            <span><%= @currency %><span id="dollars"></span></span
              ><small>.<span id="cents"></span></small>
            </h2>
            <h3>Saved</h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="timeline">
          <div>
            <h3>1 Hour</h3>
            <p>Heart rate drops.</p>
          </div>
          <div>
            <h3>12 Hours</h3>
            <p>The carbon monoxide level in your blood drops to normal.</p>
          </div>
          <div>
            <h3>2 Weeks to 3 Months</h3>
            <p>
              Heart attack risk begins to drop. Lung function begins to improve.
            </p>
          </div>
          <div>
            <h3>1 to 9 Months</h3>
            <p>Coughing and shortness of breath decrease.</p>
          </div>
          <div>
            <h3>1 Year</h3>
            <p>
              Added risk of coronary heart disease is half that of a smoker's.
            </p>
          </div>
          <div>
            <h3>5 Years</h3>
            <p>Stroke risk is reduced to that of a nonsmoker’s.</p>
          </div>
          <div>
            <h3>10 Years</h3>
            <p>
              Lung cancer death rate is about half that of a smoker’s. Related
              cancer risks decrease.
            </p>
          </div>
          <div>
            <h3>15 Years</h3>
            <p>
              Risk of coronary heart disease is back to that of a nonsmoker’s.
            </p>
          </div>
          <p style="text-align: center;">
            <small
              ><a
                href="https://www.cdc.gov/tobacco/data_statistics/sgr/2004/posters/20mins/index.htm"
                target="blank"
                >cdc.gov</a
              >
              |
              <a href="https://github.com/jakealbaugh/jake-quits" target="blank"
                >GitHub</a
              ></small
            >
          </p>
        </div>
      </div>
    </div>
    <script>
        const data = {
            years: null,
            months: null,
            weeks: null,
            days: null,
            hours: null,
            minutes: null,
            seconds: null,
            savings: null,
            dollars: null,
            cents: null,
            dailyCost: <%= @daily_cost %>,
            time: new Date("<%= @last_cigarette %>")
        };
    </script>
    <script src="app.js"></script>
  </body>
</html>
